.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 37px;
}

@media screen and (max-width:425px) {
    .header__logo {
        margin-left: 27px;
        margin-bottom: 23px;
        max-width: 103.7px;
    }
}